/* your code */
thead{
	background-color:dodgerblue;
	color:white;
}
tr,td{
	padding:10px;	
}
table{
	font-size:12px;
	text-align:center;
	width:100%;
}
table tr:nth-child(even) {
    background: #ccc;
}
table tr  :nth-child(1) {
    text-align:left;
}